{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <script type="text/javascript" src="{% static 'js/story8.js' %}"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/story8.css" %}'>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Hammersmith+One&family=Homemade+Apple&family=Press+Start+2P&display=swap"
    rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>



    <title>Story 8</title>
</head>


<body style="background-color:#F4DCD6;">
    <div class="container">
        <div class="row">
            <div id="menu">
              <div id="menu-bar" onclick="menuOnClick()">
                <div id="bar1" class="bar"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
              </div>
              <nav class="nav" id="nav">
                <ul>
                  <li><a href="/story1">Story 1</a></li>
                  <li><a href="#">Story 2</a></li>
                  <li><a href="/story3">Story 3</a></li>
                  <li><a href="#">Story 4</a></li>
                  <li><a href="/story5">Story 5</a></li>
                  <li><a href="/story6">Story 6</a></li>
                  <li><a href="/story7">Story 7</a></li>
                  <li><a href="/story8">Story 8</a></li>
                  <li><a href="#">Story 9</a></li>
                  <li><a href="#">Story 10</a></li>
                </ul>
              </nav>
            </div>
            <div class="menu-bg" id="menu-bg"></div>
        </div>
        
<div class="container-fluid responsive bg-1">
    <section class="ftco-section" id="blog-section">
      <div class="container">
        <div class="container text-align center">
            
                  <h1>BOOK SEARCH</h1>
                  <p>Find the book that you want here!</p>
                  <br>

            </div>
            <div class="search-bar">
                <input class="form-control" type="text" placeholder="Look for anything you like..." id="search-input" name="search">
            </div>
    
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="align-center">#</th>
                        <th scope="col" class="align-center">Cover</th>
                        <th scope="col" class="align-center">Title</th>
                        <th scope="col" class="align-center">Authors</th>
                        <th scope="col" class="align-center">Publisher</th>
                        <th scope="col" class="align-center">Published Date</th>
                    </tr>
                </thead>
                <tbody id="search-result"></tbody>
            </table>
        </div>    
    </div>
</div>
    <script type = "text/javascript" src = {%static 'js/story8.js'%}></script>


</body>
<script>
    function menuOnClick() {
      document.getElementById("menu-bar").classList.toggle("change");
      document.getElementById("nav").classList.toggle("change");
      document.getElementById("menu-bg").classList.toggle("change-bg");
    }
  </script>
</html>
