#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 75%;
  margin-left: 5%;
  background-color: #b5838d;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: 600;
}

.menu-bg, #menu {
  top: 10px;
  left: 3%;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0%;
  height: 0%;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #b5838d, #b5838d);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 800px;
  height: 900px;
  transform: translate(-60%,-30%);
}
body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  
}

  .container-fluid {
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'Poppins', sans-serif;

  }
  .responsive {
    width: 70%;
    height: 70%;
    align-content: center;
  }
  .bg-1 { 
    background-color: #F4DCD6;
    font-family: 'Poppins', sans-serif;
  }

  h1{
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
  }
  
  h2{
    font-size: 3.5vw;
    font-family: 'Poppins', sans-serif;

  }
  h3{
    font-size:1.5vw;
    font-family: 'Poppins', sans-serif;

  }
  p{
  font-size:1.5vw;
  font-family: 'Poppins', sans-serif;

  }
  
  @media only screen and (max-width: 767px) {

    h1 {
       font-size: 4em;
       font-family: 'Arial', 'Times New Roman', sans-serif;

    }
    
    h2 {
       font-size: 3.5em;
       font-family: 'Arial', 'Times New Roman', sans-serif;

    }
    h3 {
      font-size: 1.5em;
      font-family: 'Arial', 'Times New Roman', sans-serif;

    } 
    p{
    font-size: 1.5em;
    font-family: 'Arial', 'Times New Roman', sans-serif;

    }
    
  
  
    }
  