{% extends 'base-template.html' %}
{% load static %}

  {% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="color: #000000;" href="#">Activity</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li> <a style="color: #000000;" href="#">Daftar Kegiatan</a></li>
            <li class="dropdown-content">
            <a class="dropdown-toggle scrolling scrolling-container" style="color: #000000;" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 15px; opacity: 0.4;">
              Task
            </a>
            <div class="dropdown-menu" style="color: #000000;" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story1">Story 1</a>
                <a class="dropdown-item" style=" font-size: 15px; opacity: 0.4;" href="#">Story 2</a>
                <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story3">Story 3</a>
                <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 4</a>
                <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story5">Story 5</a>
                <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 6</a>
                <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 7</a>
                <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 8</a>
                <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 9</a>
                <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 10</a>
            </div>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
{% block content %}
<div class="container-fluid" style="background-color: #fffcf2; color: #000000;">
    <br><br><br>
    <h1 style="font-family: Montserrat; color: #000000; text-align: center; font-size: 150%;">Isi Kegiatan</h1>
    <br>
    <form id="form" method="POST" action="/story6/post-kegiatan" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" style="width: 100%; ">
            {{ forms.kegiatan_form.as_p }}
        </div>
        <br>
        <button type="submit" class="btn" style="background-color:  #edc4b3; color: #000000; font-size: 70%;" id="bton">Tambah Kegiatan</button>
    </form>
<br><br>
{% for kegiatan in data.kegiatan %}
<div class="card text-white mb-3" style="max-width: 20rem; text-align: center; margin: 0 auto; float: none; margin-bottom: 10px; padding-bottom : 4%; color: #000000; background-color:  #F4EBE8; ">
        <div class="card-header">{{ kegiatan.nama }}</div>
        <div class="card-body text-dark">
            <h5 class="card-title" style="color: black;">Peserta : </h5>
            {% for peserta in data.peserta %}
                {% if peserta.kegiatan.nama == kegiatan.nama %}
                    <p class="card-text" style="color: black;">{{ peserta.nama }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <form id="form" method="POST" action="/story6/post-peserta/{{ kegiatan.id }}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ forms.peserta_form.as_p }}
            </div>
            <br>
            <button type="submit" class="btn" style="background-color: white; color: black;" id="bton">Tambah Peserta</button>
        </form>
    </div>
    <br>
{% endfor %}
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{% endblock %}
