.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #F4EBE8;
    font-family: Montserrat, sans-serif;
  }

.navbar-brand {
    font-family: 'Homemade Apple', cursive;
    color: #000000;
  }
.navbar-nav li {
    color: #000000;
    font-family: Montserrat, sans-serif;
  }

  .scrolling {
    color : #000000;
   animation: scrolling 2s linear infinite;
    -moz-animation: scrolling 2s linear infinite;
    -webkit-animation: scrolling 2s linear infinite;
    -ms-animation: scrolling 2s linear infinite;
    -o-animation: scrolling 2s linear infinite;
  }
    /* scroll animation */
    @keyframes scrolling {
      0% {transform: translateY(-50%)}
      100% {transform: translateY(50%)}
    }
    @-moz-keyframes scrolling {
      0% {transform: translateY(-50%)}
      100% {transform: translateY(50%)}
    }
    @-webkit-keyframes scrolling {
      0% {transform: translateY(-50%)}
      100% {transform: translateY(50%)}
    }
    @-ms-keyframes scrolling {
      0% {transform: translateY(-50%)}
      100% {transform: translateY(50%)}
    }
    @-o-keyframes scrolling {
      0% {transform: translateY(-50%)}
      100% {transform: translateY(50%)}
    } 
    .navbar-nav {
      color:#000000;
    }
  
    .scrolling-container {
      overflow : hidden;
      height: 34px;
    }
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F4EBE8;
    color: #000000 ;
    min-width: 160px;
    z-index: 10;
  }
  
  .dropdown-content a {
    float: none;
    background-color: #F4EBE8;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .navbar-nav a {
    position: relative;
    display: block;
  }
  .navbar-nav a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #E86252, #EBB3A9);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;

  }

  .navbar-nav a:hover::before {
    transform: scaleX(1);
  }

  .navbar-nav[data-animation="to-left"] a::before {
  transform-origin: right;
}

.title-top2 h1, .title-top h1{
    color: #b5838d;
    font-size: 100px;
    font-weight: bold;
    margin-top: 50px;
    font-family: Montserrat, sans-serif;
}

.col-md{
    font-size: 15px;
    font-weight: 440;
    font-family: Montserrat, sans-serif;

}
.title-top a{
    border-color: #e5989b;
    width: 280px;
    height: 54px;
    border-radius: 8px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    border-width: 2px;
}
.title-top h2{
    color: #000000;
    text-shadow: -2px 4px 8px #14383d7a;
    font-size: 50px;
    font-weight: 900;
    margin-top: 20px;
    font-family:Montserrat, sans-serif;
}
.center-content button {
    background-color: #e29578;
    border-color: #000000;
    box-shadow: -2px 4px 8px #ff7b0042;
    border-radius: 8px;
    font-family:Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: 200px;
    line-height: 40px;
}

table{
    background-color: #fff1e6;
}

.social-btns {
    overflow: hidden;
    float: right;
    display: absolute;
  }
  .social-btns .btn, .social-btns .btn:before, .social-btns .btn .fab {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .social-btns .btn:before {
    top: 90%;
    left: -110%;
  }
  .social-btns .btn .fab {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  
  .social-btns .btn.instagram:before {background: #FF92C2;}
  .social-btns .btn.instagram .fab {color: #FF92C2;}
  
  .social-btns .btn.email:before {background: #dc4a38;}
  .social-btns .btn.email .fab{color: #dc4a38;}
  
  .social-btns .btn.linked-in:before {background: #0077B5;}
  .social-btns .btn.linked-in .fab {color: #0077B5;}
  
  
  .social-btns .btn:focus:before, .social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
  }
  .social-btns .btn:focus .fab, .social-btns .btn:hover .fab {
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .social-btns {
    font-size: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .social-btns .btn {
    display: inline-block;
    background: #fff;
    width: 65px;
    height: 65px;
    line-height: 65px;
    margin: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 30%;
    box-shadow: 0 7px 18px -7px rgba(0,0,0,0.18);
    opacity: 0.99;
  }
  .social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .social-btns .btn .fab {
    font-size: 40px;
    margin-bottom: 15px;
    vertical-align: middle;
  }

  .made-with-love {
    color: #666;
    font-size: 12px;
    padding-top: 10px;
    bottom:0;
    right: 0;
   }
  
    .bg-7 .fas {
      color: #E90606;
      font-size: 10px;
    }
