{% extends 'base-template.html' %}
{% load static %}
{% block meta %}
<link href="{% static 'css/story5.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #000000;" href="#">Add Jadwal</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li> <a style="color: #000000;" href="#">Schedule</a></li>
                <li class="dropdown-content">
                <a class="dropdown-toggle scrolling scrolling-container" style="color: #000000;" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 15px; opacity: 0.4;">
                  Task
                </a>
                <div class="dropdown-menu" style="color: #000000;" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story1">Story 1</a>
                    <a class="dropdown-item" style=" font-size: 15px; opacity: 0.4;" href="#">Story 2</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story3">Story 3</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 4</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story5">Story 5</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 6</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 7</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 8</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 9</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 10</a>
                </div>
            </li>
            </ul>
          </div>
        </div>
      </nav>
      {% endblock %}
{% block static %}
<style>
  body{
    background-color: #F5D0C5;
    color: #000000;
  };
</style>
{% endblock static %}

{% block content %}
<div class="title-top" style="color: #000000;">
    <div class="center" align="center">
        <h1 class="title">Tambah Mata Kuliah</h1>
        <div class="button" style="margin: 40px;">
            <a href="/story5/listJadwal" class="btn btn-outline-primary" role="button" aria-pressed="true">List Seluruh Mata Kuliah</a>  
          </div>
</div>

<div class="content container" style="color: #000000;">
    <div class="row">
        <div class="col-md">
            <form method="POST" action="" novalidate>
                {% csrf_token %}
                <table class="table table-hover">
                    {{ form_tambah.as_table }}
                    <tr>
                        <td class="center-content" colspan="2">
                            <button type="submit" class="btn btn-primary click" style="margin-top: 24px;margin-bottom: 24px;">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>    
{% endblock content %}
