{% extends 'base-template.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'css/story5.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}

  {% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #000000;" href="#">Jadwal</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li> <a style="color: #000000;" href="#">Schedule</a></li>
                <li class="dropdown-content">
                <a class="dropdown-toggle scrolling scrolling-container" style="color: #000000;" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 15px; opacity: 0.4;">
                  Task
                </a>
                <div class="dropdown-menu" style="color: #000000;" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story1">Story 1</a>
                    <a class="dropdown-item" style=" font-size: 15px; opacity: 0.4;" href="#">Story 2</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story3">Story 3</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 4</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story5">Story 5</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 6</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 7</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 8</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 9</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 10</a>
                </div>
            </li>
            </ul>
          </div>
        </div>
      </nav>
      {% endblock %}

      {% block static %}
<style>
  body{
    background-color: #F5D0C5
  };
</style>
{% endblock static %}

{% block content %}
<div class="title-top2" style="color: #000000;">
    <div class="center" align="center">
        <h1 class="title" style="margin-top: 50px;">Daftar Mata Kuliah</h1>
</div>
<div class="container" style="color: #000000;">
  <div class="row">
      <div class="col-md">
          <table class="table table-bordered" align="center">
            <tr align="center">
            {% for j in  data %}
            <span>
              <th>Mata Kuliah</th>
              <td>{{ j.matkul}}<a href="/story5/delete/{{ j.matkul }}">
                <button type="submit" class="btn" style="background-color: #141414; color: white; margin-left: 4%; margin-bottom: 15%; ">
                Delete</button></a></td>
              
            </span>
             
            </tr>
            <tr align="center">
              <th>Semester</th>
              <td>{{ j.semester}}</td>
            </tr>
            <tr align="center"> 
              <th>Nama Dosen</th>
              <td>{{ j.Dosen }}</td>
            </tr>
            <tr align="center">
              <th>Kelas</th>
              <td>{{ j.Kelas }}</td>
            </tr>
            <tr align="center">
              <th>SKS</th>
              <td>{{ j.sks}}</td>
            </tr>
            <tr align="center">
              <th>Deskripsi</th>
              <td>{{ j.deskripsi }}</td>
            </tr>
            {% endfor %}
          </table>
      </div>
      <br><br>
        <div>
            <a href="/story5">
                <button type="submit" class="btn" style="background-color: #141414; color: white; margin-left: 20%; margin-bottom: 15%;">Back</button>
            </a>
         {% if k in data %}
          
          {% endif %}
        </div>

  </div>
</div>

{% endblock content %}

