body {
    background-color: #F5D0C5;
    font-family: 'Krona One', sans-serif;
}


.navbar-logo {
  display: flex;
  float: right;
  margin: 20px;
  margin-right: 2%;
  left: 0;
  z-index: 2;
}



.smiley {
  width: 170px;
  height: 170px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.container-fluid {
  margin-top: 40px;
}
.intro-landing{
  margin-top: 8%;
  margin-left: 5%;
}
.welcome {
  font-size: 36px;
}
.explore-story {
  float:right;
  margin-right: 3%;
  
}
.explore{
  font-size: 24px;
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
}


.arrow {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: 10px;
  transform: rotateY(180deg);
}
  #menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 75%;
    margin-left: 5%;
    background-color: #3C0000;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: 600;
  }
  
  .menu-bg, #menu {
    top: 10px;
    left: 3%;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0%;
    height: 0%;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #3C0000, #3C0000);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 800px;
    height: 900px;
    transform: translate(-60%,-30%);
  }