body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

  p {
    font-size: 16px;
  }

  .margin {
    margin-bottom: 45px;
  }

  .bg-1 {
    color: #000000;
  }

  .rock{
    padding-top: 0px;
    height: 100%;
    width: 100%;
  }
  .hallo {
    height: 600px;
  }

  .bg-1 h1 {
    font-weight: 400;
    padding-top: 10%;
    font-size: 55px;
    font-family:'Homemade Apple', cursive ;
  }
  .arrow {
    width: 100px;
    height: 100px;
    padding-top: 10%;
    padding-bottom: 4%;
  }
  .CS-intro {
    padding-top: 1%;
  }
  

  .bg-2 {
    background-color: #F4EBE8;
    background-size: 100% 80%;
    /* Dark Blue */
    color: #000000;
    margin: auto;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom:75px;
    
  }

  .bg-2 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
  }

  .profile-pic {
    width: 100%;
    height: 100%;
  }

  .bg-4 {
    background: #ffffff;
    /* Black Gray */
    color: #000000;

  }

  .bg-4 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-bottom: 3%;
  }

  .bg-4 h2 {
    color: #B98E77 ;
  }
  .skill-box {
    margin-bottom: 20px;
  }
  .skill-title {
    display:flex;
    justify-content: space-between;
  }
  .skill {
    padding: 3px;
    border: 1px solid #B8AEA4;
    border-radius: 20px;
  }
  .skill-bar {
    background-color: #F4EBE8;
    height: 15px;
    border-radius: 20px;
  }

  .work-title {
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
  }

  .bg-5 {
    background: #F6F6F6;
    height: 65%;
    border-radius: 20px;
    width:70%;
    margin:auto;
  }
  

  .tutee-pict {
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 30%;
    height: 50%;
  }
  
  .bg-5 h3 {
    font-size: 20px;
    font-family: 'Hammersmith One', sans-serif;
  }

  .set-2 {
    height: 350px;
    width: 600px;
  }

  .container-fluid {
    padding-top: 30px;
    padding-bottom: 55px;
  }

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #F4EBE8;
  }

  .navbar-brand {
    font-family: 'Homemade Apple', cursive;
    color: #000000;
  }
  .navbar-nav li {
    color: #000000;
  }

  .set-1 {
    height: 300px;
  }

  .btn-info {
    background-color: transparent;
    border-radius: 2px solid #ffffff;
    border-color: #ffffff;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .btn-info:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
  }

  .btn-primary {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
  }

  .btn-primary:hover {
    background-color: transparent;
    color: #000000;
    border-color: #000000;
  }

  .contact {
    font-weight: 800;
    font-size: 24px;
  }
  
  .wrapper {
    margin-left:10%;
  }

  .image-1 {
    display: flex;
    padding-top: 2%;
    margin-top: 3%;

  }
  
  .image-2 {
    display: flex;
    padding-top: 2%;
    margin-bottom: 5%;
  }

  .css {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .sql {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .java {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .python {
    margin-right: 10px;
    margin-bottom: 40px;
  }

  .bootstrap {
    margin-right: 10px;
    margin-bottom: 40px;
  }

  .git {
    margin-right: 10px;
    margin-bottom: 40px;
  }

  .bg-6 {
    color: #000000;
    font-family: 'Poppins', sans-serif;
  }
  .bg-6 h1 {
    font-size: 40px;
    font-weight: 400;
  }

  .bg-6 h4 {
    font-size: 36px;
  }

  .bg-7 {
    background-color: #F4EBE8;
    height: 2%;
  }

  .bg-7 h3 {
    color: #000000;
    font-size: 34px;
    font-weight:400;
  }

  .social-btns {
    overflow: hidden;
    float: right;
    display: absolute;
  }
  .social-btns .btn, .social-btns .btn:before, .social-btns .btn .fab {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .social-btns .btn:before {
    top: 90%;
    left: -110%;
  }
  .social-btns .btn .fab {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  
  .social-btns .btn.instagram:before {background: #FF92C2;}
  .social-btns .btn.instagram .fab {color: #FF92C2;}
  
  .social-btns .btn.email:before {background: #dc4a38;}
  .social-btns .btn.email .fab{color: #dc4a38;}
  
  .social-btns .btn.linked-in:before {background: #0077B5;}
  .social-btns .btn.linked-in .fab {color: #0077B5;}
  
  
  .social-btns .btn:focus:before, .social-btns .btn:hover:before {
    top: -10%;
    left: -10%;
  }
  .social-btns .btn:focus .fab, .social-btns .btn:hover .fab {
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .social-btns {
    font-size: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .social-btns .btn {
    display: inline-block;
    background: #fff;
    width: 65px;
    height: 65px;
    line-height: 65px;
    margin: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 30%;
    box-shadow: 0 7px 18px -7px rgba(0,0,0,0.18);
    opacity: 0.99;
  }
  .social-btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .social-btns .btn .fab {
    font-size: 40px;
    margin-bottom: 15px;
    vertical-align: middle;
  }

  .made-with-love {
    color: #666;
    font-size: 12px;
    padding-top: 10px;
    bottom:0;
    right: 0;
   }
  
    .bg-7 .fas {
      color: #E90606;
      font-size: 10px;
    }

  .edu {
    width: 85%;
  }

  .edu h1  {
    color: #000000;
    padding-bottom: 3%;
  }

  * {box-sizing: border-box}
body {font-family:'Poppins', sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #F4EBE8;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #E9E1DE;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
h2 {
  color: #000000;
}


/* Add a blue color to the author */
.author {color: #000000;}
  
  