{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Story-4</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'gaia.css' %}" rel="stylesheet" type="text/css">
  {% block meta %}
  {% endblock meta %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Hammersmith+One&family=Homemade+Apple&family=Press+Start+2P&display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/fce6d2a071.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>


<body>
  {% block navbar%}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <section name="footer">
    <footer class="container-fluid bg-7 text-center">
      <div class="foot-1">
        <h3 class="text-right">Let's Be A Friend!</h3>

        <div class="social-btns">
          <a href="https://www.instagram.com/meutiayvnt/" target="_blank" class="btn instagram" role="button">
            <i class="fab fa-instagram"></i>
          </a>

          <a href="http://www.linkedin.com/in/meutia-khalbi" target="_blank" class="btn linked-in" role="button">
            <i class="fab fa-linkedin-in"></i>
          </a>

          <a href="mailto:julitayuventa@gmail.com" target="_blank" class="btn email" role="button">
            <i class="fab fa-google"></i>
          </a>
          <div class="made-with-love">
            <p class="text-right">Made with <i class="fas fa-heart"></i> by Meutia.</p>
          </div>
        </div>


      </div>
    </footer>
  </section>

  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>
</body>

</html>