{% extends 'base-template.html' %}

  {% block meta %}
  <link rel="stylesheet" href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'gaia.css' %}" rel="stylesheet" type="text/css">
  {% endblock meta %}

  {% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #000000;" href="/">Home</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li> <a style="color: #000000;" href="#">Resume</a></li>
                <li class="dropdown-content">
                <a class="dropdown-toggle scrolling scrolling-container" style="color: #000000;" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 15px; opacity: 0.4;">
                  Task
                </a>
                <div class="dropdown-menu" style="color: #000000;" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story1">Story 1</a>
                    <a class="dropdown-item" style=" font-size: 15px; opacity: 0.4;" href="#">Story 2</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story3">Story 3</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 4</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story5">Story 5</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story6">Story 6</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 7</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 8</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 9</a>
                    <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 10</a>
                </div>
            </li>
            </ul>
          </div>
        </div>
      </nav>
      {% endblock %}

    {% block content %}
    <div class="container-fluid resume text-center" id="Home">
          <div class="intro-resume">
            <h1 class="hire text-center" style="color: #000000;">Do</h1>
              <h2 class="text-center">You Want To Hire Me?</h2>
              <button class="button2" style="vertical-align:middle"><span><a style="color: #000000" href="https://resume.io/r/S0tvtxMDe">- Go to resume -</a></span>
            </div>
          </div>
         
    </div>
    {% endblock %}
