
{% extends 'base-template.html' %}


{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color: #000000;" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" data-animation="to-left">
       
        <li><a style="color: #000000;" href="#educ">Education</a></li>
        <li><a style="color: #000000;" href="#work">Experience</a></li>
        <li><a style="color: #000000;" href="#skills">Skills</a></li>
        <li><a style="color: #000000;" href="/resume">Resume</a></li>
        <li><a style="color: #000000;" href="/story5">Schedule</a></li>

        <li class="dropdown-content">
          <a class="dropdown-toggle scrolling scrolling-container" style="color: #000000;" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 15px; opacity: 0.4;">
            Task
          </a>
          <div class="dropdown-menu" style="color: #000000;" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story1">Story 1</a>
              <a class="dropdown-item" style=" font-size: 15px; opacity: 0.4;" href="#">Story 2</a>
              <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 3</a>
              <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 4</a>
              <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story5">Story 5</a>
              <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story6">Story 6</a>
              <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story7">Story 7</a>
              <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story8">Story 8</a>
              <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="/story9">Story 9</a>
              <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 10</a>
          </div>
      </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
  <!-- First Container -->
  <section name = "Hallo">
    <div class="container-fluid bg-1 text-center" id="Home">
      <div class="row">
        <div class="col-sm-6 col-md-auto">
          <img class="rock" src="static/images/sand-LP.jpeg" class="img-responsive margin header-1" alt="Image">
        </div>
        <div class="intro-text">
            <div class="col-sm-6 col-md-auto">
              <h1 class="Hai">Hai.</h1>
              <h3>I'm Meutia Khalbi Yuventa</h3>
              <h4>ID: 1906299004</h4>
              <div class= "CS-intro">
                <h3>Computer Science</h3>
                <h3>Student</h3> 
              
            </div>
        </div>
       
      </div>
  </section>
 


  </div>

  <!-- Second Container -->
  <section name="about">
    <div class="container-fluid bg-2 text-center" id="abt">
      <div class="row">
        <div class="col-sm-6">
         
            
              <h1 class="text-left">Oh Hey, This is about me.</h1>
          
              <p class="text-left" > I’m currently an undergraduate student
                of year 2019 at Faculty of Computer Science, Universitas Indonesia.
                Furthermore, I have been enthusiast to become a data scientist
                as my career on the future. Recently I’m an intern at tutee.id, one 
                of Indonesia’s startup as a product manager and UX researcher.
                In addition, to pursue my dream, I have been trying to earn some of 
                new skills from online course platform such as coursera,
                 solo learn, and Edx. Finally, I am a person whose highly motivated
                to learn new things and be able to take a new risk.</p>
       
        </div>
        <div class="col-sm-6">
          <img src="static/images/about-prof.png" class="img-responsive" style="display:inline;" alt="Bird" width="300"
          height="250">
          
          
        </div>
      </div>
     
    </div>
  
    </div>
  </section>
  
  <!--Education-->
  <div class="container-fluid edu" id="educ">
    <h1 class="text-right">Education</h1>
    <div class="slideshow-container">
      <div class="mySlides">
          <h2>SMPN 1 Jakarta</h2>
          <h3 class="author">From 2013 until 2016</h3>
        </div>
        
        <div class="mySlides">
          <h2>SMAN 3 Jakarta</h2>
          <h3 class="author">From 2016 until 2019</h3>
        </div>
        
        <div class="mySlides">
          <h2>Universitas Indonesia</h2>
          <h3 class="author">From 2019 until now</h3>
        </div>
        
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        
        </div>
        
        <div class="dot-container">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
      
   
  </div>

 
 
  <!-- Skills-->
  <div class="container-fluid bg-4 text-left" id="skills">
    <h1>Skills</h1>
    <div class="row">
      <div class="col-sm-6">
        <div class= "skill-box">
          <div class="skill-title">
            <p>Programming</p>
          </div>
          <div class="skill">
            <div class="skill-bar" style="width: 85%"></div>
          </div>
        </div>
        <div class= "skill-box">
          <div class="skill-title">
            <p>Product Management</p>
          </div>
          <div class="skill">
            <div class="skill-bar" style="width:95%"></div>
          </div>
        </div>
        <div class= "skill-box">
          <div class="skill-title">
            <p>Communication</p>
          </div>
          <div class="skill">
            <div class="skill-bar" style="width:93%"></div>
          </div>
        </div>
        <div class= "skill-box">
          <div class="skill-title">
            <p>Analytical Thinking</p>
          </div>
          <div class="skill">
            <div class="skill-bar" style="width:98%"></div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="col-sm-6">
          <h2 class="prog-lg">Programming Language</h2>
          <div class="image-1">
            <img class="css" src="static/images/css-skill.png" class="img-responsive margin" style="width: 80px">
            <img class="sql" src="static/images/sql-skill.png" class="img-responsive margin" style="width:80px">
            <img class="java" src="static/images/Java-skill.png" class="img-responsive margin" style="width:80px">
          </div>
          <div class="image-2">
            <img class="python" src="static/images/python-skill.png" class="img-responsive margin" style="width: 80px">
            <img class="bootstrap" src="static/images/bootstrap-skill.png" class="img-responsive margin" style="width:80px">
            <img class="git" src="static/images/git-skill.png" class="img-responsive margin" style="width:80px">
          </div>
        </div>
      </div>
  </div>

  <!-- Work Experience -->
  <div class="work-title" id="work">
    <h1 class="text-right">Work Experience</h1>
  </div>
  <div class="container-fluid bg-5 text-center">
      <img src="static/images/tutee-logo.png" class="img-responsive tutee-pict" style="width:300px">
      
      <h3 class="text-center">Product Management & UX researcher</h3>
      <h4>Internship</h4>
      <a href="http://tutee.id/" class="btn btn-visit-tutee" role="button">visit ></a>
    
    </div>
  </div>

  <!-- Hobby -->
  <section name="hobby">
    <div class="container-fluid bg-6 text-center" id="Hobby">
      <h1 class="text-left">Hobby</h1><br>
      <div class="row">
        <div class="col-sm-4">
          <div class="img-1">
            <img src="static/images/HD-travel.jpeg" class="img-responsive margin set-2" alt="Image">
            <h4 class="text-left">Travelling.</h4>
  
          </div>
        </div>
        <div class="col-sm-4">
          <img src="static/images/HD-workout.jpeg" class="img-responsive margin set-2" alt="Image">
          <h4 class="text-left">Workout.</h4>
        </div>
        <div class="col-sm-4">
          <div class="img-1">
            <img src="static/images/HD-codidingg.jpeg" class="img-responsive margin set-2" style="width:auto" alt="Image">
            <h4 class="text-left">Coding.</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  
  {% endblock %}

