.scrolling {
    color : #000000;
   animation: scrolling 2s linear infinite;
    -moz-animation: scrolling 2s linear infinite;
    -webkit-animation: scrolling 2s linear infinite;
    -ms-animation: scrolling 2s linear infinite;
    -o-animation: scrolling 2s linear infinite;
  }
    /* scroll animation */
    @keyframes scrolling {
      0% {transform: translateY(-50%)}
      100% {transform: translateY(50%)}
    }
    @-moz-keyframes scrolling {
      0% {transform: translateY(-50%)}
      100% {transform: translateY(50%)}
    }
    @-webkit-keyframes scrolling {
      0% {transform: translateY(-50%)}
      100% {transform: translateY(50%)}
    }
    @-ms-keyframes scrolling {
      0% {transform: translateY(-50%)}
      100% {transform: translateY(50%)}
    }
    @-o-keyframes scrolling {
      0% {transform: translateY(-50%)}
      100% {transform: translateY(50%)}
    } 
    .navbar-nav {
      color:#000000;
    }
  
    .scrolling-container {
      overflow : hidden;
      height: 34px;
    }
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F4EBE8;
    color: #000000 ;
    min-width: 160px;
    z-index: 10;
  }
  
  .dropdown-content a {
    float: none;
    background-color: #F4EBE8;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .navbar-nav a {
    position: relative;
    display: block;
  }
  .navbar-nav a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #E86252, #EBB3A9);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;

  }

  .navbar-nav a:hover::before {
    transform: scaleX(1);
  }

  .navbar-nav[data-animation="to-left"] a::before {
  transform-origin: right;
}

body, html {
  height: 100%;
}
.resume {
  background-image: url("images/resume-neutral.b2dd1c8fdf9b.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;

}

.resume {
padding-top: 70px;
padding-bottom: 70px;
}

.intro-resume {
  margin-top: 18%;
}
.resume h1 {
  font-size: 80px;
}
.resume h2 {
  font-size: 55px;
}
.resume a {
  font-size: 20px;
}
.button2 {
display: inline-block;
border-radius: 4px;
background:none;
border: none;
color: #000000;
text-align: center;
font-size: 25px;
padding: 10px;
width: 150px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}
.button2 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.button2 span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button2:hover span {
padding-right: 25px;
}

.button2:hover span:after {
opacity: 1;
right: 0;
}
.footer-resume {
background-color: #F4EBE8;
padding-top: 20px;
padding-bottom: 20px;

}
.footer-resume h3 {
color: #000000;
font-size: 30px;
font-weight:400;
}
  