{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'story9.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
        <script src="{% static 'story9.js' %}"></script>
    <title>Homepage</title>
</head>
<body>
<div class="homepage">
    Hello {{user}}!<br>
    <div class="homepage-subtitle">
        Welcome to my simple website for story 9.
    </div>
    <br>
    <a href="/story3">
        <button class="main-button logout-button">Home Page</button>
    </a>
    <a href="/story9/logout">
        <button class="main-button logout-button">Logout</button>
    </a>
</div>

<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>

</body>
</html>
